{% extends 'base.html.twig' %} {% block main %}
<div class="custom-class">
  <div class="border rounded-lg shadow-lg border px-4">
    <div class="bg-gray-100 px-4 py-2 font-semibold text-lg">
      Recherche info d'un client
    </div>
    <div class="mt-2">
      {{ form_start(formInfoClient) }}
      {{ form_widget(formInfoClient) }}
      {{ form_end(formInfoClient) }}
      {% if clients is not empty %}
      <h3>Informations sur le client :</h3>
      {% for client in clients %}
      <p>Téléphone : {{ client.telephone }}</p>
      <p>Surname : {{ client.Surname }}</p>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>

{% endblock %}
